.DS_Store
.Rproj.user
.Rhistory
.RData

src/*.o
*.o
src/*.so
src/*.dll

dat.*
*.lfmm
*.snmf
*.geno
*.env
*Project

LEA.pdf

vignettes/gen*
vignettes/grad*
vignettes/figure/
vignettes/figure/*.*
vignettes/LEA_analyses/*.*
vignettes/*.log
vignettes/*.pdf
vignettes/*.t*
vignettes/*.bbl
vignettes/*.blg
vignettes/*.synctex.gz
vignettes/*.aux
vignettes/cache/

R/barplot_Qmatrix.R
R/as_qmatrix.R

man/barplot.Qmatrix.Rd
man/as.qmatrix.R

genotype*
