.DS_Store
.Rproj.user
.Rhistory
.RData
src/*.o
*.o
src/*.so
src/*.dll
dat.*
*.lfmm
*.snmf
*.geno
*Project
vignettes/gen*
vignettes/grad*
vignettes/figure/*.*
vignettes/LEA_analyses/*.*
vignettes/*.log
vignettes/*.pdf
vignettes/*.t*
vignettes/*.bbl
vignettes/*.blg
vignettes/*.synctex.gz
vignettes/*.aux
vignettes/cache/
